<div align="center">
<h1>Ask a question</h1>
<form action="answer" method='GET'>
  <label for="question">Speak to your coach</label><br>
  <input type="text" id="question" name="query" placeholder="what time is it?"><br>
  <input type="submit" id="submit-button" value="Go on!">
</form>
</div>

